Repository Limych/ha-average: changes, and which pre-commit hooks are due for each by the changed paths.
All: manifest, mypy, pylint

manifest:
  name: Update manifest.json
  entry: bin/update_manifest
  language: script

mypy:
  name: mypy
  entry: bin/run-in-env mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: bin/run-in-env python3 -m pylint
  language: system

Fix release action
  .github/workflows/release.yml
Due: none

Add update requirements on update manifests
  bin/update_manifest
Due: none

Update update_requirements script
  bin/update_requirements
Due: none

Add reload service (#135, #97)
  custom_components/average/__init__.py
  custom_components/average/const.py
  custom_components/average/manifest.json
  custom_components/average/sensor.py
  custom_components/average/services.yaml
  hacs.json
  requirements.txt
  tests/__init__.py
  tests/conftest.py
  tests/const.py
  tests/fixtures/configuration.yaml
  tests/fixtures/configuration_empty.yaml
  tests/test__init.py
  tests/test_recorder.py
  tests/test_sensor.py
Due: manifest, mypy, pylint

Bump version to 2.3.0
  custom_components/average/const.py
  custom_components/average/manifest.json
Due: manifest, mypy, pylint

Update issue-lock.yml action
  .github/workflows/issue-lock.yml
Due: none

Update requirements
  requirements-test.txt
  requirements.txt
Due: manifest

Update units conversion for HA 2022.10+ (close #161)
  custom_components/average/sensor.py
Due: mypy, pylint

Update setup for fix debian virtual environment Python 3.10 bug
  .github/workflows/codeql-analysis.yml
  .pre-commit-config.yaml
  .vscode/launch.json
  bin/setup
  bin/update_requirements
  hacs.json
  setup.cfg
Due: none

Switch off required test coverage
  setup.cfg
Due: none

Add reminder for required test coverage
  setup.cfg
Due: none

Update pre-commit config
  .pre-commit-config.yaml
Due: none

Add pyproject.toml
  pyproject.toml
Due: none

Update release script
  bin/release
Due: none

Add experimental tests for Python 3.11
  .github/workflows/py-test.yml
Due: none

Update requirements
  bin/gen_releasenotes
  custom_components/integration_blueprint/__init__.py
  custom_components/integration_blueprint/config_flow.py
  requirements-dev.txt
  tests/test__init.py
  tests/test_api.py
  tests/test_config_flow.py
  tests/test_switch.py
Due: mypy, pylint

Update README.md
  README.md
  info.md
Due: none

Remove experimental tests
  .github/workflows/py-test.yml
  setup.cfg
Due: none

fix typos
  README.md
Due: none

fix typo
  info.md
Due: none

fix typo
  README_EXAMPLE.md
Due: none

Fix code after blueprint merge, pt.1
  README.md
  README_EXAMPLE.md
  custom_components/integration_blueprint/coordinator.py
Due: mypy, pylint

Fix code after blueprint merge, pt.2
  README.md
  custom_components/average/manifest.json
  hacs.json
  requirements-dev.txt
  requirements-test.txt
  requirements.txt
  tests/test_recorder.py
  tests/test_sensor.py
Due: manifest, pylint

Fix code after blueprint merge, pt.3
  .github/workflows/py-dead-code.yml
  .github/workflows/py-test.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  tests/README.md
Due: none

Fix stupid error :(
  .github/workflows/py-dead-code.yml
  .github/workflows/py-test.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  tests/README.md
Due: none

Fix requirements.txt
  hacs.json
  requirements.txt
Due: manifest

Fix exclude_attributes (#201)
  custom_components/average/recorder.py
  custom_components/average/sensor.py
  requirements-dev.txt
  requirements-test.txt
Due: mypy, pylint

Update manifest for Hassfest verification
  custom_components/average/manifest.json
  pylintrc
  tests/test_sensor.py
Due: pylint

Fix manifest error
  custom_components/average/manifest.json
Due: none

Fix requirements installation
  .github/workflows/py-dead-code.yml
  .github/workflows/py-test.yml
Due: none

Fix requirements
  hacs.json
  requirements-test.txt
  requirements.txt
Due: manifest

Fix requirements
  requirements-test.txt
Due: none

Add Python 3.11 to tests
  .github/workflows/py-test.yml
Due: none

Fix blueprint unit tests
  .github/workflows/py-test.yml
  tests/test__init.py
  tests/test_api.py
  tests/test_config_flow.py
  tests/test_switch.py
Due: pylint

Add dump test
  custom_components/integration_blueprint/manifest.json
  pylintrc
  tests/test__init.py
Due: pylint

Fix errors in script paths
  .github/workflows/py-test.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  README.md
  tests/README.md
Due: none

Fix test requirements
  requirements-test.txt
Due: none

Bump version to 2.3.1
  custom_components/average/const.py
  custom_components/average/manifest.json
Due: manifest, mypy, pylint

Path conditions:
  manifest: any of: ^(custom_components/.+/const\.py|requirements\.txt)$
  mypy: any of: ^custom_components/.+\.py$ and \.py$
  pylint: any of: \.py$
