Repository Limych/ha-average: changes, and which pre-commit hooks are due for each by the changed paths.
All: manifest, mypy, pylint

manifest:
  name: Update manifest.json
  entry: scripts/update_manifest
  language: script

mypy:
  name: mypy
  entry: scripts/run-in-env mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env python3 -m pylint
  language: system

Fix test requirements
  requirements-test.txt
Due: none

Fix py-dead-code workflow
  .github/workflows/py-dead-code.yml
Due: none

Move bootstrap.sh to config directory
  .devcontainer/bootstrap.sh
  scripts/devcontainer
Due: none

Add tzdata to test requirements
  requirements-test.txt
Due: none

Fix .gitignore
  .gitignore
  config/bootstrap.sh
Due: none

Bump to python 3.11 container
  .devcontainer.json
Due: none

Update requirements
  custom_components/integration_blueprint/manifest.json
  requirements-test.txt
  requirements.txt
Due: manifest

Update devcontainer docker image
  scripts/devcontainer
Due: none

Make local hosted devcontainer docker image
  .devcontainer/Dockerfile
  .devcontainer/container/container
  .devcontainer/container/container.mk
  .devcontainer/container/helpers/common/homeassistant/check-config.sh
  .devcontainer/container/helpers/common/homeassistant/set-version.sh
  .devcontainer/container/helpers/common/homeassistant/start.sh
  .devcontainer/container/helpers/common/paths.sh
  .devcontainer/container/helpers/integration/init.sh
  .devcontainer/container/makefiles/integration.mk
  .devcontainer/install/cleanup.sh
  .devcontainer/install/container.sh
  .devcontainer/install/init.sh
  .devcontainer/install/integration.sh
  .github/ISSUE_TEMPLATE/bug.yml
  scripts/devcontainer
Due: none

Update devcontainer
  .devcontainer/container/helpers/common/homeassistant/start.sh
  .devcontainer/container/helpers/integration/init.sh
  .devcontainer/install/init.sh
  .devcontainer/install/integration.sh
  config/bootstrap.sh
Due: none

Update README_EXAMPLE.md
  README_EXAMPLE.md
Due: none

Fix error in README_EXAMPLE.md
  README_EXAMPLE.md
Due: none

Remove from tests Python 3.9 and add Python 3.12
  .github/workflows/py-test.yml
Due: none

Make tests for Python 3.12 are experimental
  .github/workflows/py-test.yml
Due: none

Create sk.json
  custom_components/integration_blueprint/translations/sk.json
Due: none

Initial commit
  custom_components/average/const.py
  custom_components/average/sensor.py
Due: manifest, mypy, pylint

Bugfix - use last state instead of first state
  README.md
  custom_components/average/sensor.py
Due: mypy, pylint

Updated constants
  custom_components/average/sensor.py
Due: mypy, pylint

Update constants
  custom_components/average/sensor.py
Due: mypy, pylint

Fix package name
  hacs.json
Due: none

Update blueprint update script
  scripts/update
Due: none

Update Python versions for testing workflow
  .github/workflows/py-test.yml
Due: none

Update requirements
  custom_components/integration_blueprint/manifest.json
Due: none

Update requirements
  custom_components/integration_blueprint/manifest.json
  requirements-test.txt
Due: none

Update find dead code workflow
  .github/workflows/py-dead-code.yml
Due: none

Update update_manifest script
  custom_components/integration_blueprint/manifest.json
  hacs.json
  scripts/update_manifest
Due: none

Update blueprint integration const.py
  custom_components/integration_blueprint/const.py
  custom_components/integration_blueprint/manifest.json
Due: manifest, mypy, pylint

Update release workflow
  .github/workflows/release.yml
Due: none

Update readme
  README.md
Due: none

Bump version to 2.3.2
  custom_components/average/const.py
  custom_components/average/manifest.json
Due: manifest, mypy, pylint

Remove deprecated constants
  tests/test_sensor.py
Due: pylint

Bump version to 2.3.3
  custom_components/average/const.py
  custom_components/average/manifest.json
Due: manifest, mypy, pylint

Calculates trend attribute without storing values in seperate array
  custom_components/average/sensor.py
Due: mypy, pylint

Bugfix: Trending_towards support multiple sources
  custom_components/average/sensor.py
Due: mypy, pylint

Update requiremints
  requirements-dev.txt
  requirements.txt
Due: manifest

Fix #99
  custom_components/average/const.py
  custom_components/average/manifest.json
  custom_components/average/sensor.py
Due: manifest, mypy, pylint

Bump version to 2.3.4
  custom_components/average/const.py
  custom_components/average/manifest.json
Due: manifest, mypy, pylint

Update LICENSE.md
  LICENSE.md
Due: none

Added handling for scenarios where the source entities are unavailable
  custom_components/average/const.py
  custom_components/average/sensor.py
Due: manifest, mypy, pylint

Path conditions:
  manifest: any of: ^(custom_components/.+/const\.py|requirements\.txt)$
  mypy: any of: ^custom_components/.+\.py$ and \.py$
  pylint: any of: \.py$
